@model ExamManagementApp.Models.Institute

@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = "تعديل";
}

<h4>تعديل المؤسسة</h4>
<hr />
<form asp-action="Edit">
    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <span asp-validation-for="Name" class="text-danger"></span>
        <label asp-for="Name" class="control-label text-dark">اسم المؤسسة</label>
        <input asp-for="Name" class="form-control" />
    </div>
    @*<div class="form-group">
    <span asp-validation-for="Code" class="text-danger"></span>
    <label asp-for="Code" class="control-label"></label>
    <input disabled asp-for="Code" class="form-control" />
    </div>*@
    <div class="form-group d-flex justify-content-between pt-2">
        @*<input type="submit" value="Edit" class="btn btn-primary" />*@
        <button class="btn btn-primary"><i class="bi bi-pencil-square"></i>تعديل</button>
        <a class="btn btn-secondary" asp-action="Index"><i class="bi bi-box-arrow-left"></i> العودة إلى القائمة</a>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
