@model ExamManagementApp.Models.Employee
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h2>امتحان الأمن السيبراني</h2>
        </div>
        <div class="col-md-6">
            <p>مدة الاختبار: 10 دقائق</p>
            <p>عدد الأسئلة: 20</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            قبل أن تبدأ، يرجى قراءة التعليمات التالية بعناية
        </div>
    </div>
    <h3>كيف تحصل على درجة أعلى؟</h3>
    <ul>
        <li>يُستخدم الاختبار لتقييم خبرتك وإبداعك وإنتاجيتك ومعرفتك وتقنية اتخاذ القرار لديك</li>
        <li>لا تستخدم الإنترنت أو الموارد الخارجية خارج هذا الجهاز</li>
        <li>تذكر أن هذا اختبار للخبرة، لذلك لا تكتفي بإجابة واحدة فقط على الأسئلة الوصفية</li>
    </ul>
    <h3>كيف تستخدم التطبيق؟</h3>
    <ul>
        <li>لن يتم تتبع إجاباتك ما لم تضغط على زر <span class="text-danger fw-bold">حفظ</span></li>
        <li>يبدأ وقتك فورًا عندما تضغط على زر <span class="text-danger fw-bold">بدء الامتحان</span> أدناه</li>
        <li>عند النقر على زر <span class="text-danger fw-bold">إنهاء الامتحان</span> أدناه، ستخرج من الامتحان</li>
    </ul>
    <h3>نصائح</h3>
    <ul>
        <li>من المستحسن أن تقوم بمراجعة جميع الأسئلة قبل البدء في الإجابة عليها هذا سيساعدك على تنظيم وقتك</li>
        <li>أجب بطريقة تُظهر أنك تفكر وتكتب النهج الممكن</li>
    </ul>
    <form method="post" asp-action="Start">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <button class="btn btn-primary">بدء الامتحان</button>
        </div>
    </form>
</div>
