@model ExamManagementApp.Models.Employee
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h2>Cyber Security Exam</h2>
        </div>
        <div class="col-md-6">
            <p>Test Duration : 10 minutes</p>
            <p>Total Question : 20</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            Before you begin, please read the following instructions carefully.
        </div>
    </div>
    <h3>How to score more?</h3>
    <ul>
        <li>The test is used to evaluate your expertise, caretivity, productivity, knowledge and decision making technique</li>
        <li>Do not use internet or external resources outside of this machine</li>
        <li>Remember that is a test of experience, so do not be satisfied with ONE answer on Descriptive type questions</li>
    </ul>
    <h3>How to use the appliaction?</h3>
    <ul>
        <li>Your answer are not tracked unless you click on the <span class="text-danger fw-bold">Save </span> button</li>
        <li>Your time starts immediately when you click hte <span class="text-danger fw-bold">Start Exam </span> button below</li>
        <li>When you click on <span class="text-danger fw-bold">End Exam </span> button below you are Exit From Exam</li>
    </ul>
    <h3>Tips</h3>
    <ul>
        <li>Recommended that you review all the questions before you start answering them. this will help plan your effor time</li>
        <li>Answer in a way that shows that you are thinking and typing the possible approach</li>
    </ul>
    <form method="post" asp-action="Start">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <button class="btn btn-primary">Start Exam</button>
        </div>
    </form>
</div>
