<!-- ======= Hero Section ======= -->
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel" data-interval="5000">

        <!-- الشريحة 1 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animated fadeInDown">مرحبًا بك في <span>هديل تك</span></h2>
                <p class="animated fadeInUp">
                    تتيح منصتنا للمديرين إنشاء حسابات واختبار موظفيهم حول وعيهم بالأمن السيبراني من الضروري التأكد من أن جميع الموظفين على دراية بالتهديدات السيبرانية وكيفية حماية أنفسهم والشركة
                </p>
                <a asp-controller="Manager" asp-action="Login" class="btn-get-started animated fadeInUp">ابدأ الان</a>
            </div>
        </div>

        <!-- الشريحة 2 -->
        <div class="carousel-item">
            <div class="carousel-container">
                @* <h2 class="animated fadeInDown">لماذا وعي الأمن السيبراني؟</h2> *@
                <h2 class="animated fadeInDown">مرحبًا بك في <span>هديل تك</span></h2>
                <p class="animated fadeInUp">
                    حماية البيانات الحساسة من الاختراقات <br />
                    منع الهجمات الاحتيالية<br />
                    تقليل مخاطر العدوى بالبرامج الضارة<br />
                    ضمان الامتثال للوائح
                </p>
                <a asp-controller="Manager" asp-action="Login" class="btn-get-started animated fadeInUp">ابدأ الان</a>
            </div>
        </div>

        <!-- الشريحة 3 -->
        <div class="carousel-item">
            <div class="carousel-container">
                @* <h2 class="animated fadeInDown">المزايا</h2> *@
                <h2 class="animated fadeInDown">مرحبًا بك في <span>هديل تك</span></h2>
                <p class="animated fadeInUp">
                    إنشاء حسابات للمديرين<br />
                    اختبار وتتبع أداء الموظفين<br />
                    نتائج تفصيلية وردود فعل<br />
                    تحديثات دورية مع تهديدات أمان جديدة
                </p>
                <a asp-controller="Manager" asp-action="Login" class="btn-get-started animated fadeInUp">ابدأ الان</a>
            </div>
        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">السابق</span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">التالي</span>
        </a>

    </div>
</section><!-- نهاية البطل -->


<main id="main">

    <!-- ======= قسم الخدمات ======= -->
    <section class="services" id="Services">
        <div class="container">

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
                    <div class="icon-box icon-box-pink">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4 class="title"><a href="">إنشاء حسابات المديرين</a></h4>
                        <p class="description">توفر منصتنا واجهة سهلة الاستخدام تمكن المديرين من إنشاء حساباتهم وإدارتها بسرعة تضمن هذه الميزة أن يتمكن المديرون من إعداد ملفاتهم الشخصية بكفاءة والوصول إلى الأدوات الأساسية والإشراف على تدريب واختبار الأمن السيبراني لموظفيهم بسهولة</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-box icon-box-cyan">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4 class="title"><a href="">اختبار وتتبع أداء الموظفين</a></h4>
                        <p class="description">
                            توفر المنصة آليات اختبار قوية لتقييم معرفة الموظفين بالأمن السيبراني تسمح ميزات التتبع المفصلة للمديرين بمراقبة التقدم وتحديد الفجوات المعرفية وتقديم التدريب المستهدف لتعزيز الوعي الشامل بالأمن السيبراني داخل المؤسسة
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box icon-box-green">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">نتائج مفصلة وردود فعل</a></h4>
                        <p class="description">
                            بعد كل اختبار يتلقى الموظفون نتائج مفصلة وردود فعل مخصصة تساعد هذه الخدمة الموظفين على فهم نقاط القوة لديهم ومجالات التحسين بينما يمكن للمديرين استخدام الأفكار لتخصيص برامج التدريب وضمان التحسين المستمر في ممارسات الأمن السيبراني
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box icon-box-blue">
                        <div class="icon"><i class="bx bx-world"></i></div>
                        <h4 class="title"><a href="">تحديثات دورية حول التهديدات الأمنية</a></h4>
                        <p class="description">
                            تلتزم منصتنا بإبقاء مؤسستك على اطلاع بأحدث التهديدات الأمنية السيبرانية تضمن التحديثات الدورية أن يكون المديرون والموظفون على علم بالتهديدات الناشئة وأفضل الممارسات لتقليل المخاطر مما يعزز نهجًا استباقيًا للأمن السيبراني
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- نهاية قسم الخدمات -->
    <!-- ======= قسم الميزات ======= -->
    <section class="features" id="Features">
        <div class="container">
            <div class="section-title">
                <h2>الميزات</h2>
                <p>تقدم منصتنا مجموعة من الميزات المصممة لتعزيز الوعي بالأمن السيبراني وتبسيط عملية الاختبار لمؤسستك</p>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5">
                    <img src="./img/features-1.svg" class="img-fluid" alt="إعداد الحساب بسهولة">
                </div>
                <div class="col-md-7 pt-4">
                    <h3>إعداد الحساب بسهولة</h3>
                    <p class="font-italic">
                        أنشئ حساباتك وأدرها بسرعة باستخدام واجهتنا البديهية تم تصميم منصتنا للسهولة مما يسمح للمديرين بالبدء دون أي متاعب
                    </p>
                    <ul>
                        <li><i class="icofont-check"></i> عملية تسجيل مستخدم سهلة</li>
                        <li><i class="icofont-check"></i> أدوات إدارة الحساب بكفاءة</li>
                    </ul>
                </div>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5 order-1 order-md-2">
                    <img src="./img/features-2.svg" class="img-fluid" alt="اختبارات شاملة">
                </div>
                <div class="col-md-7 pt-5 order-2 order-md-1">
                    <h3>اختبارات شاملة</h3>
                    <p class="font-italic">
                        قيّم معرفة الموظفين بالأمن السيبراني من خلال وحدات الاختبار المفصلة والمتنوعة لدينا حدد نقاط القوة ومجالات التحسين بفعالية
                    </p>
                    <p>
                        يغطي نظام الاختبار لدينا مجموعة واسعة من مواضيع الأمن السيبراني مما يضمن التقييم الكامل والاستعداد ضد التهديدات المحتملة
                    </p>
                </div>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-md-5">
                    <img src="./img/features-3.svg" class="img-fluid" alt="ملاحظات مفصلة">
                </div>
                <div class="col-md-7 pt-5">
                    <h3>ملاحظات مفصلة</h3>
                    <p>قدم للموظفين ملاحظات متعمقة حول أدائهم في الاختبار ساعدهم على فهم نتائجهم وارشدهم نحو ممارسات أمان أفضل</p>
                    <ul>
                        <li><i class="icofont-check"></i> تحليل الأداء الفردي</li>
                        <li><i class="icofont-check"></i> توصيات للتعلم المستمر</li>
                    </ul>
                    <p class="font-italic">
                        تساعد ملاحظاتنا التفصيلية الموظفين على النمو من خلال تقديم رؤى واضحة حول أدائهم في الامتحان وأفضل الممارسات لتحسينهم
                    </p>
                </div>
            </div>

        </div>
    </section><!-- نهاية قسم الميزات -->

</main><!-- نهاية #main -->
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $('#heroCarousel').carousel({
        interval: 5000
    });
</script>